/* Tweak browser-specific styles */
@import 'browser-base.css';

/* The rest - are *app*-specific styles */
@import 'base.css';

@import 'grid.css';

@import 'components/black-section.css';

@import 'atoms.css';

/* In this file you can add sloppy architectured styles when you're lazy */
@import 'heap.css';