<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/main.js" defer></script>
  <title>Document</title>
</head>
<body>

<main class="main cont">
  <h3>Придумай тему для своего сайта-визитки (одна страница)</h3>
  <p>Предлагаю варианты:</p>
  <ul>
    <li>Придумай сам</li>
    <li>Сайт-визитка со ссылками</li>
    <li>
      Сайт-визитка про мои любимые занятия
      <ul>
        <li>хобби</li>
        <li>комп. игры</li>
        <li>секции</li>
        <li>уроки в школе</li>
      </ul>
    </li>
  </ul>
</main>
  
</body>
</html>