<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/main.js" defer></script>
  <title>Document</title>
</head>
<body>

<main class="main cont">
  <h3>Придумай тему для своей презентации</h3>
  <p>Предлагаю варианты:</p>
  <ul>
    <li>Придумай сам</li>
    <li>
      О себе:
      <ul>
        <li>любимые хобби</li>
        <li>любимые секции</li>
        <li>любимые уроки в школе</li>
        <li>любимые комп. игры</li>
      </ul>
    </li>
    <li>
      Что-то рассказать про своё любимое
    </li>
  </ul>
</main>
  
</body>
</html>